/* Header */
@media (min-height: 900px) {
    .logo{padding: 25px;}
}

@media (max-height: 899px) {
    .logo{padding: 10px;}
}

/* Data */
@media screen and (orientation: landscape) {
    .return-btn{
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .arma{display: flex;}
    .ficha{
        position: fixed;
        width: 30%;
        max-width: 400px;
        height: calc(100% - 15vh);
        bottom: 0;
        background-color: rgba(32,32,32,.5);
        border-right: solid 1px #444;
    }
}

@media (orientation: portrait) or ((max-width: 1023px) and (max-height: 599)) {
    .return-btn{
        position: fixed;
        bottom: 50px;
        right: 25px;
        z-index: 40;
    }
    .arma{display: none;}
    .ficha{
        position: absolute;
        width: 100vw;
        top: 50%;
        background-color: rgba(32,32,32,.9);
        border-top: solid 1px #444;
    }
}